[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ??
[access "refs/*"]
	owner = group user/JasonLin1230
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JasonLin1230
	label-Verified = -1..+1 group user/JasonLin1230
	push = group user/JasonLin1230
	read = group user/JasonLin1230
	rebase = group user/JasonLin1230
	removeReviewer = group user/JasonLin1230
	submit = group user/JasonLin1230
[access "refs/heads/*"]
	create = group user/JasonLin1230
	push = +force group user/JasonLin1230
	pushMerge = group user/JasonLin1230
	read = group user/JasonLin1230
[access "refs/tags/*"]
	push = group user/JasonLin1230
	push = +force group user/JasonLin1230
